//variables

$color-light_blue:#C7F7FF;
$med_blue:   #89C0C9;
$dark_blue:   #3a5E63;
$light_brown: #C9A689;
$dark_brown:  #7C593C;
$light_grey:  #d4d4d4;
$dark_grey:   #222;
$white_color:#fff;
$font-sans-serif:'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
    